[Unit]
Description="RTI Datalogger to record serial data"
After=multi-user.target

[Service]
Type=simple
Environment=PYTHONPATH=/home/pi/rti/python/rti_python
ExecStart=/usr/bin/python3 /home/pi/rti/python/rti_python/Utilities/SerialDataRecorder.py -c /dev/ttyUSB0 -b 230400 -f /mnt/usb/recorder 
Restart=on-abort

[Install]
WantedBy=multi-user.target
